.wordContainer, .definitionContainer {
    font-size: 28px;
    text-align: center;
}

.wordContainer {
    font-weight: bold;
    text-transform: uppercase;
}

.image {
    height: 400px;
    background-image: url(/assets/images/alfons-morales-YLSwjSy7stw-unsplash.jpg);
    background-size: cover;
    margin-top: -48px;
}

footer {
    height: 100px;
}