.wordContainer, .definitionContainer {
    font-size: 28px;
    text-align: center;
}

.wordContainer {
    font-weight: bold;
    text-transform: uppercase;
}

img {
    height: 400px;
    width: 100%;
    background-size: cover;
    margin-top: -48px;
}

footer {
    height: 100px;
}