
img {
    height: 400px;
    width: 100%;
    background-size: cover;
    margin-top: -48px;
}

.row {
    font-size: 25px; 
}

.generateButton {
    margin-left: 43%;
    margin-bottom: 10%;
    font-size: 30px;
    margin-top: 5%;
}

.wordContainer, .definitionContainer {
    font-size: 28px;
    text-align: center;
}

.wordContainer {
    font-weight: bold;
    text-transform: uppercase;
}

.save {
    margin-left: 42%;
    font-size: 30px;
    margin-top: 5%;
}

.stored {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border: 10px solid black
}

.storeWord, .storeDefinition {
    font-size: 28px;
    text-align: center;
}

.storeWord {
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    height: 100px;
}

